<!-- Enroll Banner -->
<div class="jumbotron text-center p-4" style="background-color: #00aeef;">

    <!-- Grid row -->
    <div class="row  mx-auto">
  
      <!-- Grid column -->
      <div class="col-md-4 offset-md-1 mx-auto">
  
        <!-- Featured image -->
        <div class="view overlay waves-light">
          <img src="assets/threeDSmilesLogoW.svg" class="img-fluid" alt="White 3dsmiles logo">
        </div>
  
      </div>
      <!-- Grid column -->
  
      <!-- Grid column -->
      <div class="col-md-4 d-flex justify-content-center mx-auto">
  
        <!-- Excerpt -->
        <h1 class="white-text align-self-center">Ready to take the next Step?</h1>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-3 floatD">
        
          <button mdbBtn type="button" color="white" rounded="true" outline="true" style="margin-top: 3rem;" mdbWavesEffect (click)="openModal()">Enroll Now!</button>
        
      </div>
      <!-- Grid column -->
  
    </div>
    <!-- Grid row -->
  
</div>
<!-- Enroll Banner -->

<!--Animation-->
<div class="row">
    <img src="assets/tempAnimation.jpg" class="img-fluid mx-auto" alt="Responsive image">
</div>
<!--Animation-->

<!--Section: Products-->
<section class="pb-3 text-center tbBorder border-info" style="background-color: #d8f4ff;" >

  <!--Section heading-->
  <h2 class="h2-responsive py-5 wow fadeInDown" data-wow-delay="0.5s">Ortho |<span class="icoler wow fadeInLeft"  data-wow-delay="0.5s" style="font-weight: 700;"> Partnership</span></h2>
  <!--Section description-->
  <h2 class="h2-responsive grey-text mb-5">Subscription Model Breakdown Subtitle Text </h2>
  
  <!--Grid row-->
  <div class="row mx-5">
  
    <!--Grid column-->
    <div class="col-lg-3 col-md-6 mb-4">
  
    <!-- Card -->
    <mdb-card>

      <!--Pricing card-->
      <div
        class="grey-text text-center pricing-card d-flex align-items-center py-3 px-3 rounded">

        <!--Content-->
        <mdb-card-body>
          <div class="row d-flex justify-content-center my-4">
            <mdb-icon fas icon="check-circle" class="icoler mx-2 mt-1" size="2x"></mdb-icon>
            <h1>Braces</h1>
          </div>

          <ul class="grey-text">
            <li class="stripe">
              <p>
                <strong>1</strong> Lorem ipsum</p>
            </li>
            <li class="stripe">
              <p>
                <strong>1</strong> Lorem ipsum</p>
            </li>
            <li class="stripe">
              <p>
                <strong>1</strong> Lorem ipsum</p>
            </li>
            <li>
              <p>
                <strong>1</strong> Lorem ipsum</p>
            </li>
          </ul>
        </mdb-card-body>

      </div>
      <!--Pricing card-->

    </mdb-card>
  
    </div>
    <!--Grid column-->
  
    <!--Grid column-->
    <div class="col-lg-3 col-md-6 mb-4">
  
    <!-- Card -->
    <mdb-card>

      <!--Pricing card-->
      <div
            class="grey-text text-center pricing-card d-flex align-items-center py-3 px-3 rounded">
  
            <!--Content-->
            <mdb-card-body>
              <div class="row d-flex justify-content-center my-4">
                <mdb-icon fas icon="check-circle" class="icoler mx-2 mt-1" size="2x"></mdb-icon>
                <h1>Aligners</h1>
              </div>
  
              <ul class="grey-text">
                <li class="stripe">
                  <p>
                    <strong>1</strong> Lorem ipsum</p>
                </li>
                <li class="stripe">
                  <p>
                    <strong>1</strong> Lorem ipsum</p>
                </li>
                <li class="stripe">
                  <p>
                    <strong>1</strong> Lorem ipsum</p>
                </li>
                <li>
                  <p>
                    <strong>1</strong> Lorem ipsum</p>
                </li>
              </ul>
            </mdb-card-body>
  
      </div>
      <!--Pricing card-->
  
    </mdb-card>
  
      </div>
      <!--Grid column-->
  
      <!--Grid column-->
      <div class="col-lg-3 col-md-6 mb-4">
  
      <!-- Card -->
      <mdb-card>

          <!--Pricing card-->
          <div
            class="grey-text text-center pricing-card d-flex align-items-center py-3 px-3 rounded">
  
            <!--Content-->
            <mdb-card-body>
              <div class="row d-flex justify-content-center my-4">
                <mdb-icon fas icon="check-circle" class="icoler mx-2 mt-1" size="2x"></mdb-icon>
                <h1>Retainers</h1>
              </div>
  
              <ul class="grey-text">
                <li class="stripe">
                  <p>
                    <strong>1</strong> Lorem ipsum</p>
                </li>
                <li class="stripe">
                  <p>
                    <strong>1</strong> Lorem ipsum</p>
                </li>
                <li class="stripe">
                  <p>
                    <strong>1</strong> Lorem ipsum</p>
                </li>
                <li>
                  <p>
                    <strong>1</strong> Lorem ipsum</p>
                </li>
              </ul>
            </mdb-card-body>
  
          </div>
          <!--Pricing card-->
  
        </mdb-card>
  
      </div>
      <!--Grid column-->
  
      <!--Fourth column-->
      <div class="col-lg-3 col-md-6 mb-4">
  
      <!-- Card -->
      <mdb-card>

          <!--Pricing card-->
          <div
            class="grey-text text-center pricing-card d-flex align-items-center py-3 px-3 rounded">
  
            <!--Content-->
            <mdb-card-body>
              <div class="row d-flex justify-content-center my-4">
                <mdb-icon fas icon="check-circle" class="icoler mx-2 mt-1" size="2x"></mdb-icon>
                <h1>Whitening</h1>
              </div>
  
              <ul class="grey-text">
                <li class="stripe">
                  <p>
                    <strong>1</strong> Lorem ipsum</p>
                </li>
                <li class="stripe">
                  <p>
                    <strong>1</strong> Lorem ipsum</p>
                </li>
                <li class="stripe">
                  <p>
                    <strong>1</strong> Lorem ipsum</p>
                </li>
                <li>
                  <p>
                    <strong>1</strong> Lorem ipsum</p>
                </li>
              </ul>
            </mdb-card-body>
  
          </div>
          <!--Pricing card-->
  
        </mdb-card>
  
      </div>
      <!--Fourth column-->
  
    </div>
    <!--Grid row-->

    <!--Grid row-->
    <div class="row d-flex justify-content-center">
        <button mdbBtn type="button" class="mcbutton" rounded="true" outline="true" mdbWavesEffect (click)="openModal()">Let's Talk!</button>
    </div>
    <!--Grid row-->

</section>
<!--Section: Products-->

<!--Aligners-Animation-->
<div class="row">
    <img src="assets/alignersAnimation.jpg" class="img-fluid mx-auto" alt="Responsive image">
</div>
<!--Aligners-Animation-->

<!-- Why we are different -->
<section class="team-section text-center py-5 my-5">

    <!-- Section heading -->
    <h2 class="BText h1-responsive font-weight-bold mx-auto">Retainers</h2>
    <h2 class="h1-responsive grey-text mt-5">Secondary Discription Line</h2>
  
    <!-- Grid row -->
    <div class="row mt-5 justify-content-center">
  
        <div class="card-deck mx-5">
            <mdb-card class="marg" borderColor="border-info">
              <mdb-card-body style="padding:0px!important">
                <mdb-card-img src="assets/card1.jpg"></mdb-card-img>
              </mdb-card-body>
              <mdb-card-footer class="bColor">
                <h4 class="white-text">Link Discription</h4>
              </mdb-card-footer>
            </mdb-card>
          
            <mdb-card class="marg" borderColor="border-info"> 
              <mdb-card-body style="padding:0px!important">
                <mdb-card-img src="assets/card2.jpg"></mdb-card-img>
              </mdb-card-body> 
              <mdb-card-footer class="bColor">
                <h4 class="white-text">Link Discription</h4>
              </mdb-card-footer>
            </mdb-card>
          
            <mdb-card class="marg" borderColor="border-info">
              <mdb-card-body style="padding:0px!important">
                <mdb-card-img src="assets/card3.jpg"></mdb-card-img>
              </mdb-card-body>
              <mdb-card-footer class="bColor">
                <h4 class="white-text">Link Discription</h4>
              </mdb-card-footer>
            </mdb-card>
          </div>
  
    </div>
    <!-- Grid row -->
  
</section>
<!-- Why we are different -->

<!-- Whitening -->
<section class="team-section text-center py-5 my-5">

  <!-- Section heading -->
  <h2 class="BText h1-responsive font-weight-bold mx-auto">Whitening</h2>
  <h2 class="h1-responsive grey-text mt-5">Secondary Discription Line</h2>
  
  <!-- Grid row -->
  <div class="row mt-5 justify-content-center">
    
    <!--Fade in-->
    <div class="row">
      <img src="assets/fadeIn.jpg" class="img-fluid mx-auto" alt="Responsive image">
    </div>
    <!--Fade in-->

  </div>
  <!-- Grid row -->
  
</section>
<!-- Whitening -->