.view1 {
    background: url("../../../assets/landingIntro.jpg")no-repeat center center;
    background-size: cover;
    height: 100vh;
    margin-top: 0vh;
    
@media (min-width: 600px) {
    background-size: fill;
    height: 130vh;
    margin-top: 0vh;
    margin-bottom: 0vh; 
    }
}
.view1 .mask {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    width: 100vw;
    height: auto;
    background-attachment: fixed;
}
.view2 {
    background: url("../../../assets/orthoIntro.jpg")no-repeat center center;
    background-size: cover;
    height: 100vh;
}
.view2 .mask {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    width: 100vw;
    height: auto;
    background-attachment: fixed;
}
.view3 {
    background: url("../../../assets/restorativeIntro.jpg")no-repeat center center;
    background-size: contain;
    height: 50vh;
    margin-top: 0vh;
    margin-bottom: -15vh;
@media (min-width: 600px) {
    height: 90vh;
    margin-top: 0vh;
    margin-bottom: -35vh; 
    }  
}
.dbumper{
    margin-bottom:20vh;
}

.view4 {
    background: url("../../../assets/surgicalIntro.jpg")no-repeat center center;
    background-size: cover;
    width: 100vw;
    height: 100vh;
}
.view4 .mask {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    width: 100vw;
    height: auto;
    background-attachment: fixed;
}


.infoText{
    
    color: #00aeef!important;
}
.navbar.scrolling-navbar{
    background: #00aeef;
}
@media (min-width: 600px){
.navbar.scrolling-navbar.top-nav-collapse {
    background: #4285F4 !important;
    }
}

@media only screen and (max-width: 768px) {
    .navbar {
        background: #4285F4;
    }
}
nav.navbar.navColor.fixed-top.navbar-expand-lg.navbar-dark.scrolling-navbar.intro-fixed-nav{
    background: #00aeef;
}

.primary-heading{

    font-size: 2em;
    @media (min-width: 600px) {
    font-size: 4rem;
    font-weight: 400; 
    }
}
.flx-col{
    flex-direction: column;
}
    
    