<body>
  <navbar></navbar>
  <router-outlet></router-outlet>
  
</body>
<!-- Footer -->
<footer class="page-footer font-small mdb-color pt-4">

    <img style="max-height: 100pt" src="assets/threeDSmilesLogo.svg" alt="">

  <!-- Footer Links -->
  <div class="container text-center text-md-left">

    <!-- Footer links -->
    <div class="row text-center text-md-left mt-3 pb-3">

      <!-- Grid column -->
      <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
        <h6 class=" mb-4 text-muted font-weight-bold">ThreeD Smiles</h6>
        <p class="text-muted">ThreeD Smiles is an Dental and Orthodontic Laboratory that strives to be at the cutting edge of dental technologies. The newest technology is enabling us to create a more accurate, cost effective and efficient process for our doctors.
        </p>
      </div>
      <!-- Grid column -->

      <hr class="w-100 clearfix d-md-none">

      <!-- Grid column -->
      <div class="col-md-5 col-lg-5 col-xl-5 mx-auto mt-5">
        
        <!-- Default auto-sizing form -->
        <form>
          <!-- Grid row -->
          <div class="form-row align-items-center">
            <!-- Grid column -->
            <div class="col-auto mt-3">
              <!-- Default input -->
              <label class="sr-only" for="inlineFormInput">Email</label>
              <!-- Email -->
              <input type="email" id="defaultLoginFormEmail"  class="form-control mb-4" placeholder="E-mail">    
            </div>
            <!-- Grid column -->
            <div class="col-auto">
              <button type="submit" mdbBtn color="primary" style="background-color: #00aeef !important;" class="mt-0">Submit</button>
            </div>
          </div>
        <!-- Grid row -->
        </form>
        <!-- Default auto-sizing form -->
      </div>
      <!-- Grid column -->

      
      <hr class="w-100 clearfix d-md-none">

      <!-- Grid column -->
      <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
        <h6 class="text-uppercase mb-4 text-muted font-weight-bold">Contact</h6>
        <p class="text-muted">
          <mdb-icon fas icon="home" class="mr-3 text-muted"></mdb-icon>1671 S, Research Loop,       
        </p>
        <p class="ml-5 text-muted">STE 133 Tucson, AZ </p> 
        <p class="text-muted">
          <mdb-icon fas icon="envelope" class="mr-3 text-muted"></mdb-icon> info@threedsmiles.com
        </p>
        <p class="text-muted">
          <mdb-icon fas icon="phone" class="mr-3 text-muted"></mdb-icon> (833)651-7399
        </p>
      </div>
      <!-- Grid column -->

    </div>
    <!-- Footer links -->

    <hr>

    <!-- Grid row -->
    <div class="row d-flex align-items-center">

      <!-- Grid column -->
      <div class="col-md-7 col-lg-8">

        <!--Copyright-->
        <p class="text-center text-muted text-md-left">© 2018 Copyright:
          <a class="text-muted" href="https://mdbootstrap.com/education/bootstrap/">
            <strong> THREE D SMILES</strong>
          </a>
        </p>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-5 col-lg-4 ml-lg-0">

        <!-- Social buttons -->
        <div class="text-center text-md-right">
          <ul class="list-unstyled list-inline">
            <li class="list-inline-item">
              <a mdbBtn floating="true" class="rgba-white-slight mx-1"href="https://www.facebook.com/ThreeDSmiles" mdbWavesEffect>
                <mdb-icon fab icon="facebook" class="text-muted"></mdb-icon>
              </a>
            </li>
            <li class="list-inline-item">
              <a mdbBtn floating="true" class="rgba-white-slight mx-1" href="https://www.instagram.com/threedsmiles" mdbWavesEffect>
                <mdb-icon fab icon="instagram" class="text-muted"><i class="fab fa-instagram"></i></mdb-icon>
              </a>
            </li>
            <li class="list-inline-item">
                <a mdbBtn floating="true" class="rgba-white-slight mx-1" href="https://www.linkedin.com/company/threed-smiles" mdbWavesEffect>
                  <mdb-icon fab icon="linkedin" class="text-muted"></mdb-icon>
                </a>
              </li>
          </ul>
        </div>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

</footer>
<!-- Footer -->

    