<!-- What We Do -->
<section class="" style="background-color: #00aeef;">
    
  <!-- Grid row -->
  <div class="row px-5 d-flex justify-content-center">
 
    <!-- Grid column -->
    <div class="col-lg-5">
  
      <!-- Grid row -->
      <div class="row mb-3 my-5 justify-content-center">
        <div class="col-md-8 col-10 white-text">
          <div class="view">
            <img src="../../../assets/whiteD.svg" class="floatD" alt="">
            <div class="mask">
              <h1 class="bgFont font-weight-bold mb-3">Title: What We Do</h1>
              <h5 class="font-weight-bold mb-3">(Creating a confident solution for doctors)</h5>
              <p class="mb-5">Lorem ipsum dolor sit amet, consectetur adipisicing. Reprehenderit maiores nam,aperiam minima elit assumenda voluptate velit.</p>
            </div>
          </div>
        </div>
      </div>
      <!-- Grid row -->"
  
    </div>
    <!-- Grid column -->"
  
    <!-- Grid column -->
    <div class="col-md-5 my-5 wow fadeIn">

      <!--IMAGE-->
      <div class="embed-responsive embed-responsive-16by9 wow fadeInRight">
        <iframe class="embed-responsive-item" src="https://player.vimeo.com/video/137857207" allowfullscreen></iframe>
      </div>

    </div>
    <!-- Grid column -->
  
  </div>
  <!-- Grid row -->
  
</section>
<!-- What We Do -->

<!-- Technology/Industry -->
<section class="" style="background-color: white;">
    
  <!-- Grid row -->
  <div class="row px-5 d-flex justify-content-center">
   
    <!-- Grid column -->
    <div class="col-lg-5">
    
      <!-- Grid row -->
      <div class="row mb-3 my-5 justify-content-center">
        <div class="col-md-8 col-10 gray-text">
          <h1 class="bgFont font-weight-bold mb-3">Technology/ Industry</h1>
          <p class="mb-5">Lorem ipsum dolor sit amet, consectetur adipisicing. Reprehenderit maiores nam,aperiam minima elit assumenda voluptate velit.</p>
          <ul class="listItem">
            <li>Lorem ipsum dolor sit amet</li>
            <li>Lorem ipsum dolor sit amet</li>
            <li>Lorem ipsum dolor sit amet</li>
          </ul>
          <button class="" mdbBtn type="button" color="info" rounded="true" outline="true" mdbWavesEffect (click)="openModal()">Request Info</button>
        </div>
      </div>
      <!-- Grid row -->"
    
    </div>
    <!-- Grid column -->"
    
    <!-- Grid column -->
    <div class="col-md-5 my-5 wow fadeIn">
  
      <!--Video-->
      <div class="d-flex wow bounceInUp">
        <img src="../../../assets/restorativeIntro.jpg" class="img-fluid mx-auto" alt="">
      </div>
  
    </div>
    <!-- Grid column -->
    
  </div>
  <!-- Grid row -->
    
</section>
<!-- Technology/Industry -->

<!-- Reinventing the Industry-->
<section class="" style="background-color: white;">

  <div class="row d-flex justify-content-center">
    <!-- Grid column1 -->
    <div class="col mr-5  white-text" style="background-color: #00aeef;">
      <div class="row mb-3 my-5 justify-content-center">
        <div class="col-md-10">
          <h1 class="bgFont font-weight-bold pl-3">Reinventing an</h1>
          <h1 class="bgFont font-weight-bold pl-3">Antiquated Industry</h1>
          <h5 class="bgmFont mt-5 pl-3">Why do we do what we do (story)</h5>
        </div>
      </div>    
    </div>
    <!-- Grid column1 -->

    <!-- Grid column2 -->
    <div class="col-md-5 mx-5 my-5 wow fadeIn">
  
      <!--Video-->
      <div class="embed-responsive embed-responsive-16by9 wow fadeInRight">
        <iframe class="embed-responsive-item" src="https://player.vimeo.com/video/137857207" allowfullscreen></iframe>
      </div>
    
    </div>
    <!-- Grid column2 -->

  </div>
</section>
<!-- Reinventing the Industry-->

<!--Subscription Pricing-->
<section class="my-5 mb-5 d-flex flex-column">

  <!-- Heading -->
    <div class="p-2 mx-5 border-bottom Cborder">
      <!-- Section heading -->
      <h2 class="h1-responsive w-responsive mx-auto bgFont font-weight-bold">Subscription Pricing</h2>
    </div>
    <!-- Grid row -->
    <!-- Grid row -->
    <div class="p-2 mx-5">
      <!-- Section description -->
      <p class=" dark-grey-text w-responsive mx-auto mb-5 bgmFont">All the Benefits,<span class="BText bgmFont font-weight-bold"> One Price.</span></p>
    </div>  
  <!-- Heading -->

  <!-- Button Grid -->
  <div class="container">
    <div class="row-10">
     
      <button mdbBtn class="custom" type="button" color="info" rounded="true" outline="true" size="lg" mdbWavesEffect>Retainers</button>
      <button mdbBtn class="custom" type="button" color="info" rounded="true" outline="true" size="lg" mdbWavesEffect>Night Gards</button>
      <button mdbBtn class="custom" type="button" color="info" rounded="true" outline="true" size="lg" mdbWavesEffect>Bite Splints</button>
      <button mdbBtn class="custom" type="button" color="info" rounded="true" outline="true" size="lg" mdbWavesEffect>Bleaching Trays</button>

      <button mdbBtn class="custom" type="button" color="info" rounded="true" outline="true" size="lg" mdbWavesEffect>Aligner Disign</button>
      <button mdbBtn class="custom" type="button" color="info" rounded="true" outline="true" size="lg" mdbWavesEffect>Crowns</button>
      <button mdbBtn class="custom" type="button" color="info" rounded="true" outline="true" size="lg" mdbWavesEffect>Temprary Crown</button>
      <button mdbBtn class="custom" type="button" color="info" rounded="true" outline="true" size="lg" mdbWavesEffect>Surgical Guides</button>
    
      <button mdbBtn class="custom" type="button" color="info" rounded="true" outline="true" size="lg" mdbWavesEffect>Temporary Pontics</button>
      <button mdbBtn class="custom" type="button" color="info" rounded="true" outline="true" size="lg" mdbWavesEffect>Crown & Abutment</button>
      <button mdbBtn class="custom" type="button" color="info" rounded="true" outline="true" size="lg" mdbWavesEffect>Retainers</button>
      <button mdbBtn class="custom" type="button" color="info" rounded="true" outline="true" size="lg" mdbWavesEffect>...</button>
   
    </div>
  </div>
  <!-- Button Grid -->

</section>
<!--Subscription Pricing-->

<!-- Why we are different -->
<section class="team-section text-center my-5">

    <!-- Section heading -->
    <h2 class="h1-responsive grey-text mt-5">See the why we are different.</h2>
    <h2 class="BText h1-responsive font-weight-bold mx-auto">Become a Partner Today!</h2>
  
    <!-- Grid row -->
    <div class="row mt-5 justify-content-center">
  
        <div class="card-deck mx-5">
            <mdb-card borderColor="border-info">
              
              <mdb-card-body style="padding:0px!important">
                <mdb-card-img src="../../../assets/card1.jpg"></mdb-card-img>
              </mdb-card-body>
              <mdb-card-footer class="bColor">
                <h4 class="white-text">Ortho Services</h4>
              </mdb-card-footer>
            </mdb-card>
          
            <mdb-card borderColor="border-info"> 
              <mdb-card-body style="padding:0px!important">
                <mdb-card-img src="../../../assets/card2.jpg"></mdb-card-img>
              </mdb-card-body> 
              <mdb-card-footer class="bColor">
                <h4 class="white-text">General Restorative</h4>
              </mdb-card-footer>
            </mdb-card>
          
            <mdb-card borderColor="border-info">
              <mdb-card-body style="padding:0px!important">
                <mdb-card-img src="../../../assets/card3.jpg"></mdb-card-img>
              </mdb-card-body>
              <mdb-card-footer class="bColor">
                <h4 class="white-text">Surgical Guide</h4>
              </mdb-card-footer>
            </mdb-card>
          </div>
  
    </div>
    <!-- Grid row -->
  
</section>
<!-- Why we are different -->

<!-- Icon Bord -->
<section class="section text-center my-5 mx-5">
  
    <!-- Grid row -->
    <div class="row mt-5 justify-content-center" style="background-color: #00aeef;">
      
      <!--Icon group-->
      <div class="col">
        <mdb-icon fas icon="clock white-text my-5 mt-5" size="5x"></mdb-icon>
        <h1 class="white-text">Next Day</h1>
        <h1 class="white-text mb-5">Turnaround</h1>
      </div>
      <div class="col">
        <mdb-icon fas icon="shipping-fast white-text my-5 mt-5" size="5x"></mdb-icon>
        <h1 class="white-text">Free</h1>
        <h1 class="white-text mb-5">Shipping</h1>
      </div>
      <div class="col">
        <mdb-icon fas icon="wallet white-text my-5 mt-5" size="5x"></mdb-icon>
        <h1 class="white-text">Discounted</h1>
        <h1 class="white-text mb-5">Price Book</h1>
      </div>
      <div class="col">
        <mdb-icon fas icon="tooth white-text my-5 mt-5" size="5x"></mdb-icon>
        <h1 class="white-text">Practice</h1>
        <h1 class="white-text mb-5">Consultant</h1>
      </div>
      <!--Icon group-->

    </div>
    <!-- Grid row -->
  
</section>
<!-- Icon Bord -->

<!--Savings Calculator-->
<section class="section my-5 mx-5">
  <div class="row mt-5  align-middle">

    <div class="col d-flex flex-column justify-content-center ">
      <h1>Cost Savings</h1>
      <h1 class="BText font-weight-bold" style="font-size: 3.0rem!important;">Calculator</h1>
      <h1 class="grey-text">How much can you save</h1>
    </div>
    <div class="col my-4 mx-3" >      
        <mdb-card borderColor="border-info">
              
            <mdb-card-body style="padding:0px!important">
              <h1 style="height: 15.0rem"></h1>
            </mdb-card-body>
            
          </mdb-card>

    </div>
  </div>

  <!-- Calculator Total -->
<div class="jumbotron text-center p-4" style="background-color: #00aeef;">

  <!-- Grid row -->
  <div class="row  mx-auto">

    <!-- Grid column -->
    <div class="col-md-4 offset-md-1 mx-auto">

      <!-- Featured image -->
      <div class=" waves-light">
        <img src="../../../assets/whiteD30.svg" class="img-fluid" alt="White 3dsmiles logo">
      </div>

    </div>
    <!-- Grid column -->

    <!-- Grid column -->
    <div class="col-md-4 d-flex justify-content-center mx-auto">

      <!-- Excerpt -->
      <h1 class="white-text align-self-center">Savings per Month:</h1>

    </div>
    <!-- Grid column -->

    <!-- Grid column -->
    <div class="col-md-3" style="background-color: #ffffff;">
      
      <h1 class="my-4 align-self-center">$Total Savings</h1>
      
    </div>
    <!-- Grid column -->

  </div>
  <!-- Grid row -->

</div>
<!-- Calculator Total -->

</section>
<!--Savings Calculator-->
