  <!-- What We Do -->
  <section class="" style="background-color: #00aeef;">
    
    <!-- Grid row -->
    <div class="row px-5 d-flex justify-content-center">
   
      <!-- Grid column -->
      <div class="col-lg-5">
    
        <!-- Grid row -->
        <div class="row mb-3 my-5 justify-content-center">
          <div class="col-md-8 col-10 white-text">
            <div class="view">
              <img  src="assets/whiteD.svg" class="floatD" alt="">
              <div class="mask centerMask">
                <h1 class="bgFont mb-3">What We Do</h1>
              </div>
            </div>
          </div>
        </div>
        <!-- Grid row -->"
    
      </div>
      <!-- Grid column -->"
    
      <!-- Grid column -->
      <div class="col-md-5 my-5 white-text">
        
        <h4 class="ml-5 mb-3 centerMask">Reinventing on antiqued industry,<br>ThreeD Smiles has created a confident<br>solution for doctors to provide trusted<br>products to their patients.</h4>
       
      </div>
      <!-- Grid column -->
    
    </div>
    <!-- Grid row -->
    
  </section>
  <!-- What We Do -->

  <!--Our Process-->
  <section class="my-5">
    <div class="col mb-3  my-5 justify-content-start">
      <h1 class="mx-5 font-weight-bold">Our Process</h1>
      <h3 class="h3-responcive mx-5">From start to finish we make the process easy and conveint.</h3>
    </div>

    <div class="d-flex  justify-content-center">
        
      <div class="ps">
          <img class="img-fluid" src="assets/scanIcon.png"/>
        </div>
        <div class="ps">
          <img class="img-fluid" src="assets/caseCreation.png"/>
        </div>
        <div class="ps">
          <img class="img-fluid" src="assets/design.png"/>
        </div>
        <div class="ps">
          <img class="img-fluid" src="assets/Queue.png"/>
        </div>
        <div class="ps">
          <img class="img-fluid" src="assets/manufacture.png"/>
        </div>
        <div class="ps">
          <img class="img-fluid" src="assets/ship.png"/>
        </div>
        
    </div>
    
  </section>
  <!--Our Process-->
  
  <!-- Technology/Industry -->
  <section class="" style="background-color: white;">
      
    <!-- Grid row -->
    <div class=" d-flex flex-wrap justify-content-center">

      
      <div class="flex-shrink-1 ml-2">
        <img class="img-fluid dImg" src="assets/vBanner.png"/>
      </div>
     
      <!-- Grid column -->
      <div class="w-50 mx-3">
      
        <!-- Grid row -->
        <div class="row mb-3 my-5">
          <div>
            <h1 class="bgFont font-weight-bold mb-3">Technology/ Industry</h1>
            <p class="mb-5">Our Lab is using the latest in 3d printing and design. Providing you with high quality products for your clients.</p>
            <ul class="listItem">
              <li>FDA Approved Clean Room</li>
              <li>State-of-the Art 3D Printing</li>
              <li>Next Day Turn-Around Times</li>
            </ul>
            </div>
            <div>
                <button class="" style="color: black !important" mdbBtn type="button" color="info" rounded="true" outline="true" mdbWavesEffect (click)="openModal()">Learn More ></button>
            </div>
            
          
        </div>
        <!-- Grid row -->"
      
      </div>
      <!-- Grid column -->"
      
      <!-- Grid column -->
      <div class="flex-shrink-1 my-5 wow fadeIn">
    
        <!--Video-->
        <div class="d-flex wow bounceInUp">
          <img src="assets/techIndustryimg.jpg" class="img-fluid mx-auto tImg" alt="">
        </div>
    
      </div>
      <!-- Grid column -->
      
    </div>
    <!-- Grid row -->
      
  </section>
  <!-- Technology/Industry -->
  
  <!-- Reinventing the Industry-->
  <section class="" style="background-color: white;">
  
    <div class="row d-flex justify-content-center">
      <!-- Grid column1 -->
      <div class="col mr-5  white-text" style="background-color: #00aeef;">
        <div class="row mb-3 my-5 justify-content-center">
          <div class="col-md-10">
            <h1 class="bgFont font-weight-bold pl-3">Reinventing an</h1>
            <h1 class="bgFont font-weight-bold pl-3">Antiquated Industry</h1>
            <h5 class="bgmFont mt-5 pl-3">Because of the process and the technology. It
              has enabled us to provide a simple business structure base on subscription and partnership.</h5>
          </div>
        </div>    
      </div>
      <!-- Grid column1 -->
  
      <!-- Grid column2 -->
      <div class="col-md-5 mx-5 my-5 wow fadeIn">
    
        <!--Video-->
        <div class="embed-responsive embed-responsive-16by9 wow fadeInRight">
          <video class="video-fluid" autoplay>
            <source src="assets/logoVideo.mp4" type="video/mp4" />
          </video>
        </div>
      
      </div>
      <!-- Grid column2 -->
  
    </div>
  </section>
  <!-- Reinventing the Industry-->

  <!-- Icon Bord -->
  <section class="section text-center my-5 mx-5">  
    <img class="img-fluid" src="assets/iBar.png"/>  
  </section>
  <!-- Icon Bord -->
  
  <!--Subscription Pricing-->
  <section class="my-5 mb-5 d-flex flex-column">
  
    <!-- Heading -->
      <div class="p-2 mx-5 border-bottom Cborder">
        <!-- Section heading -->
        <h2 class="h1-responsive w-responsive mx-auto bgFont font-weight-bold">Subscription Pricing</h2>
      </div>
      <!-- Grid row -->

      <!-- Grid row -->
      <div class="p-2 mx-5">
        <!-- Section description -->
        <p class=" dark-grey-text w-responsive mx-auto mb-5 bgmFont">All the Benefits,<span class="BText bgmFont font-weight-bold"> One Price.</span></p>
      </div>  
    <!-- Heading -->

  
    <!-- Button Grid -->
    <div class="d-flex row justify-content-center my-5 bmarg">
      <div class="p-2">
        <button mdbBtn class="custom" type="button" color="info" rounded="true" outline="true" size="lg" mdbWavesEffect>Retainers</button>
      </div>
      <div class="p-2">
        <button mdbBtn class="custom" type="button" color="info" rounded="true" outline="true" size="lg" mdbWavesEffect>Night Gards</button>
      </div>
      <div class="p-2">
        <button mdbBtn class="custom" type="button" color="info" rounded="true" outline="true" size="lg" mdbWavesEffect>Bite Splints</button>
      </div> 
      <div class="p-2"> 
        <button mdbBtn class="custom" type="button" color="info" rounded="true" outline="true" size="lg" mdbWavesEffect>Bleaching Trays</button>
      </div>
      <div class="p-2">
        <button mdbBtn class="custom" type="button" color="info" rounded="true" outline="true" size="lg" mdbWavesEffect>Aligner Disign</button>
      </div>
      <div class="p-2">
        <button mdbBtn class="custom" type="button" color="info" rounded="true" outline="true" size="lg" mdbWavesEffect>Crowns</button>
      </div>
      <div class="p-2">
        <button mdbBtn class="custom" type="button" color="info" rounded="true" outline="true" size="lg" mdbWavesEffect>Temprary Crown</button>
      </div>
      <div class="p-2">
        <button mdbBtn class="custom" type="button" color="info" rounded="true" outline="true" size="lg" mdbWavesEffect>Surgical Guides</button>
      </div>
      <div class="p-2">
        <button mdbBtn class="custom" type="button" color="info" rounded="true" outline="true" size="lg" mdbWavesEffect>Temporary Pontics</button>
      </div>
      <div class="p-2">
        <button mdbBtn class="custom" type="button" color="info" rounded="true" outline="true" size="lg" mdbWavesEffect>Crown & Abutment</button>
      </div>  
      <div class="p-2">
        <button mdbBtn class="custom" type="button" color="info" rounded="true" outline="true" size="lg" mdbWavesEffect>Retainers</button>
      </div>  
      <div class="p-2">
        <button mdbBtn class="custom" type="button" color="info" rounded="true" outline="true" size="lg" mdbWavesEffect>...</button>
      </div>

    </div>
    <!-- Button Grid -->
  </section>
  <!--Subscription Pricing-->
  
  <!-- Why we are different -->
  <section class="team-section text-center my-5">
  
      <!-- Section heading -->
      <h2 class="h1-responsive grey-text mt-5">See the why we are different.</h2>
      <h2 class="BText h1-responsive font-weight-bold mx-auto">Become a Partner Today!</h2>
    
      <!-- Grid row -->
      <div class="row mt-5 justify-content-center">
    
          <div class="card-deck mx-5">
              <mdb-card class="marg" borderColor="border-info">
                <mdb-card-body  style="padding:0px!important">
                  <mdb-card-img src="assets/card1.png"></mdb-card-img>
                </mdb-card-body>
                <mdb-card-footer class="bColor">
                  <h4 class="white-text">Ortho Services</h4>
                </mdb-card-footer>
              </mdb-card>
            
              <mdb-card class="marg" borderColor="border-info"> 
                <mdb-card-body style="padding:0px!important">
                  <mdb-card-img src="assets/card2.png"></mdb-card-img>
                </mdb-card-body> 
                <mdb-card-footer class="bColor">
                  <h4 class="white-text">General Restorative</h4>
                </mdb-card-footer>
              </mdb-card>
            
              <mdb-card class="marg" borderColor="border-info">
                <mdb-card-body style="padding:0px!important">
                  <mdb-card-img src="assets/card3.png"></mdb-card-img>
                </mdb-card-body>
                <mdb-card-footer class="bColor">
                  <h4 class="white-text">Surgical Guide</h4>
                </mdb-card-footer>
              </mdb-card>
            </div>
    
      </div>
      <!-- Grid row -->
    
  </section>
  <!-- Why we are different -->
  
  
  
  
