<div class="modal-content divice">
  <div class="modal-header">
      <img src="../../../assets/threeDSmilesLogo.svg" class="justify-content-center" style="width: 250px;">
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">×</span>
    </button>
    
  </div>
  <div class="modal-body divice">
    <div class="md-form mb-5">
      <mdb-icon fas icon="user" class="prefix grey-text"></mdb-icon>
      <input  type="text" id="subscriptionFormModalName" class="form-control validate" mdbInput [form-control]="subscriptionFormModalName"/>
      <label data-error="invalid" data-success="valid" for="subscriptionFormModalName"> name</label>
    </div>

    <div class="md-form mb-4 divice">
      <mdb-icon fas icon="envelope" class="prefix grey-text "></mdb-icon>
      <input  type="email" id="subscriptionFormModalEmail" class="form-control validate " mdbInput [form-control]="subscriptionFormModalEmail"/>
      <label data-error="invalid" data-success="valid" for="subscriptionFormModalEmail"> email</label>
    </div>

    <div class="md-form mb-4  divice">
      <mdb-icon fas icon="phone" class="prefix grey-text"></mdb-icon>
      <input type="text" id="defaultRegisterPhonePassword" class="form-control validate" mdbInput [form-control]="defaultRegisterPhonePassword">
      <label data-error="invalid" data-success="valid" for="defaultRegisterPhonePassword"> Phone number</label>
      
    </div>

    <div class="md-form mb-4 divice">
        <div class="row">
          <div class="col-1 ml-2 mb-1">
            <mdb-icon fas icon="info" class="prefix grey-text "></mdb-icon>
          </div>
          <div class="col mb-4 d-flex">
              <mdb-select [options]="optionsSelect" [multiple]="true" placeholder="Choose your option"></mdb-select>
          </div>
        </div>     
      
    </div>

  </div>
  <div class="modal-footer d-flex justify-content-center">
      <button mdbBtn color="indigo" class="waves-light" (click)="subscibeEvent()" mdbWavesEffect>Send Request
          <mdb-icon far icon="paper-plane" class="ml-1"></mdb-icon>
      </button>
  </div>
</div>