<!--back to top Button-->
<div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
<button mdbBtn floating="true" size="lg" color="info" class="waves-light" mdbPageScroll href="#top-section" mdbWavesEffect
   [pageScrollDuration]="750">
  <mdb-icon fas icon="arrow-up"></mdb-icon>
</button>
</div>
<!--back to top Button-->

<!-- Button Grid -->
<section  id="top-section" class=" img-fluid sectionBackground tBorder border-info">

  <!-- Featured image -->
  <div class="overlay waves-light">
    <img src="../../../assets/blueD.svg" class="dfloat" alt="White 3dsmiles logo">
  </div>

  <!-- Section heading -->
  <h1 class="h1-responsive font-weight-bold text-center mt-5 mb-2">General Restorative</h1>
  <h3 class="h3-responsive text-center">Subscription Breakdown</h3>

  <!-- Section description --> 
  <p class="grey-text text-center w-responsive mx-auto mb-5">Duis aute irure dolor in reprehenderit in
    voluptate velit
    esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
    occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit est laborum.</p>

  <!--Grid row-->
  <div class="d-flex justify-content-center my-2">

    <!--Grid column-->
    <div class="p-2">

      <button type="button" mdbBtn class="waves-light bsize z-depth-3 white-text"
        mdbPageScroll href="#crown"
        triggers="focus" 
        mdbWavesEffect>
        Crowns
      </button>

    </div>
    <!--Grid column-->

    <!--Grid column-->
    <div class="p-2">

      <button type="button" mdbBtn class="waves-light bsize z-depth-3 white-text"
        mdbPopover="And here some amazing content. It's very engaging. Right?"
        placement="right"
        mdbPopoverHeader="Implant Crown & Abuntment" 
        triggers="focus" mdbWavesEffect>
        Implant Crown & Abutment
      </button>

    </div>
    <!--Grid column-->

    <!--Grid column-->
    <div class="p-2">

      <button type="button" mdbBtn class="waves-light bsize z-depth-3 white-text"
        mdbPopover="And here some amazing content. It's very engaging. Right?"
        placement="right"
        mdbPopoverHeader="Custom Bite Splints" 
        triggers="focus" mdbWavesEffect>
        Custom Bite Splints
      </button>

    </div>
      <!--Grid column-->

  </div>
  <!--Grid row-->

  <!--Grid row-->
  <div class="d-flex justify-content-center my-2">

      <!--Grid column-->
      <div class="p-2">

        <button type="button" mdbBtn class="waves-light bsize z-depth-3 white-text"
          mdbPopover="And here some amazing content. It's very engaging. Right?"
          placement="right"
          mdbPopoverHeader="Temporary Crown" 
          triggers="focus" mdbWavesEffect>
          Temporary Crown
        </button>

      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="p-2">

        <button type="button" mdbBtn class="waves-light bsize z-depth-3 white-text"
        mdbPageScroll href="#tempDentures" 
          triggers="focus" mdbWavesEffect>
          Temporary Dentures
        </button>

      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="p-2">

        <button type="button" mdbBtn class="waves-light bsize z-depth-3 white-text"
          mdbPageScroll href="#nightGards" 
          triggers="focus" mdbWavesEffect>
          Night Guards
        </button>

      </div>
      <!--Grid column-->

  </div>
  <!--Grid row-->

  <!--Grid row-->
  <div class="d-flex justify-content-center my-2">

        <!--Grid column-->
        <div class="p-2">
  
          <button type="button" mdbBtn class="waves-light bsize z-depth-3 white-text"
            mdbPopover="And here some amazing content. It's very engaging. Right?"
            placement="right"
            mdbPopoverHeader="Retainers" 
            triggers="focus" mdbWavesEffect>
            Retainers
          </button>
  
        </div>
        <!--Grid column-->
  
        <!--Grid column-->
        <div class="p-2">
  
          <button type="button" mdbBtn class="waves-light bsize z-depth-3 white-text"
            mdbPopover="And here some amazing content. It's very engaging. Right?"
            placement="right"
            mdbPopoverHeader="Bleaching Trays" 
            triggers="focus" mdbWavesEffect>
            Bleaching Trays
          </button>
  
        </div>
        <!--Grid column-->
  
        <!--Grid column-->
        <div class="p-2">
  
          <button type="button" mdbBtn class="waves-light bsize z-depth-3 white-text"
            mdbPopover="And here some amazing content. It's very engaging. Right?"
            placement="right"
            mdbPopoverHeader="Aligner Disign Trays" 
            triggers="focus" mdbWavesEffect>
            Aligner Disign Trays
          </button>
  
        </div>
        <!--Grid column-->
  
  </div>
  <!--Grid row-->

</section>
<!-- Button Grid -->

<!-- Enroll Banner -->
<div class="jumbotron text-center bannerBackgroun">

  <!-- Grid row -->
  <div class="d-flex justify-content-center">
  
    <!-- Grid column -->
    <div class="p-2 mx-auto my-auto">
        
      <!-- Excerpt -->
      <h1 class="h1-responsive white-text">All these services and more 
        <br>when you subscribe.(Discription)</h1>
          
    </div>
    <!-- Grid column -->

    <!-- Grid column -->
    <div class="p-2 mx-auto my-auto">
                 
      <button mdbBtn type="button" color="white" rounded="true" outline="true"  mdbWavesEffect (click)="openModal()">Enroll Now!</button>
                
    </div>
    <!-- Grid column -->
  
    
  <!-- Grid row -->
  </div>

</div>
<!-- Enroll Banner -->

<!-- section crowns -->
<section id="crown" class="section crownBackground my-5">

  <!-- Section heading -->
  <h1 class="h1-responsive font-weight-bold text-center mt-5 mb-2">Crowns &</h1>
  <h1 class="h1-responsive text-center">Abutment</h1>

  <!-- Section description --> 
  <h2 class="grey-text text-center w-responsive mx-auto my-5">Secondary Discription</h2>

    <!-- Grid row -->
    <div class="row d-flex justify-content-centerml-3 mx-5">
       
      <!-- info text col-->
      <div class="col mx-auto mb-5 ma-5 ">
          
        <h3 class="h3-responsive font-weight-bold  mb-5">Education</h3>
        <h4 class="h4-responsive grey-text">Lorem ipsum do lor sit amet, consectetur adipisicing. Reprehenderit maiores nam,
          aperiam minima elit assumenda voluptate velit. Lorem ipsum dolor sit amet, consectetur adipisicing. Reprehenderit maiores nam,
          aperiam minima elit assumenda voluptate velit. 
        </h4>
          
      </div>

      <!--Empty-Space col -->
      <div class="col mx-auto my-5"></div>
    
    </div>  
    <!-- Grid row -->

  <div class="col-lg-5 d-flex justify-content-centerml-3">
  </div>

</section>
<!-- section crowns -->

<!-- Night Gards -->
<section id="nightGards" class="team-section text-center py-5 my-5">

  <!-- Section heading -->
  <h1 class="BText h1-responsive font-weight-bold mx-auto">Night Guards</h1>
  <h2 class="h1-responsive grey-text mt-5">Secondary Discription Line (Based Around Tech)</h2>
      
  <!-- Grid row -->
  <div class="row mt-5 justify-content-center">
        
    <!--Fade in-->
    <div class="row">
      <img src="../../../assets/nightGards.jpg" class="img-fluid mx-auto" alt="Responsive image">
    </div>
    <!--Fade in-->
    
  </div>
  <!-- Grid row -->
      
</section>
<!-- Night Gards -->

<!-- Section Temporary Dentures -->
<section id="tempDentures" class="my-5">

    <!-- Section heading -->
    <h2 class="h1-responsive font-weight-bold text-center my-5">Temporary Dentures</h2>
    <!-- Section description -->
    <h3 class="grey-text text-center w-responsive mx-auto mb-5">Coming Soon</h3>
  
    
  
    <!-- Grid row -->
    <div class="row">
  
      <!-- Grid column -->
      <div class="col-lg-6 pt-5">
  
        <!-- Grid row -->
        <div class="row mb-3 pt-5">
          
          <div class="col-md-11 col-5 mx-auto">
              
            <h4 class="font-weight-bold  mb-3">Education</h4>
            <h5 class="grey-text">Lorem ipsum do lor sit amet, consectetur adipisicing. Reprehenderit maiores nam,
              aperiam minima elit assumenda voluptate velit. Lorem ipsum dolor sit amet, consectetur adipisicing. Reprehenderit maiores nam,
              aperiam minima elit assumenda voluptate velit. Lorem ipsum dolor sit amet, consectetur adipisicing. Reprehenderit maiores nam,
              aperiam minima elit assumenda voluptate velit.
            </h5>
            <div class="p-2  align-self-center">
              <button type="button" mdbBtn color="info" size="lg" rounded="true" data-toggle="modal" data-target="#subscribeData"
              (click)="openModal()" mdbWavesEffect>Notify Me</button>
            </div>
              
          </div>
        </div>

  
      </div>
      <!-- Grid column -->
  
      <!-- Grid column -->
      <div class="col-lg-6">
        <!--Image-->
        <img src="../../../assets/tempDentures.jpg" alt="tempDentures" class="img-fluid rounded">
      </div>
      <!-- Grid column -->
  
    </div>
    <!-- Grid row -->
  
</section>
  <!-- Section Temporary Dentures -->