<!--Section: Banner-->
<section class="pb-3 text-center" style="background-image: url(assets/BannerBackground.jpg);max-width: 100vw;" >

  <!--Section heading-->
  <h2 class="h1-responsive font-weight-bold white-text pt-5">Surgical Guides Subscription</h2>
  <!--Section description-->
  <h2 class="h2-responsive white-text mb-5 mx-3">We offer a wide range of Surgical applications.<br>
    All these Services are included in our Partnership Plan</h2>
      
  <!--Grid row-->
  <div class="row d-flex justify-content-center mx-5">
      
      <!--First column-->
      <div class="col-lg-2 col-md-4 mb-4">
      
        <!-- Card -->
        <mdb-card>
    
          <!--Pricing card-->
          <div
            class="grey-text text-center pricing-card d-flex align-items-center py-3 px-3 rounded">
    
            <!--Content-->
            <mdb-card-body>
              <div class="row d-flex justify-content-center my-4">
                <h2>Full Sergical Guides</h2>
              </div>
    
            </mdb-card-body>
    
          </div>
          <!--Pricing card-->
    
        </mdb-card>
      
      </div>
      <!--First column-->
      
      <!--Second column-->
      <div class="col-lg-2 col-md-4 col-sm-2 mb-4">
      
        <!-- Card -->
        <mdb-card>
    
          <!--Pricing card-->
          <div class="grey-text text-center pricing-card d-flex align-items-center py-3 px-3 rounded">
      
            <!--Content-->
            <mdb-card-body>
              <div class="row d-flex justify-content-center my-4">
                <h2>Temporary Crown</h2>
              </div>
      
            </mdb-card-body>
      
          </div>
          <!--Pricing card-->
      
        </mdb-card>
      
      </div>
      <!--Second column-->
      
      <!--Third column-->
      <div class="col-lg-2 col-md-4 mb-4">
      
        <!-- Card -->
        <mdb-card>
    
          <!--Pricing card-->
          <div class="grey-text text-center pricing-card d-flex align-items-center py-3 px-3 rounded">
      
            <!--Content-->
            <mdb-card-body>
              <div class="row d-flex justify-content-center my-4">
                <h2>Implant Crown & Abutments</h2>
              </div>
            </mdb-card-body>
      
          </div>
          <!--Pricing card-->
      
        </mdb-card>
      
      </div>
      <!--Third column-->
      
      <!--Fourth column-->
      <div class="col-lg-2 col-md-4 mb-4">
      
        <!-- Card -->
        <mdb-card>
    
          <!--Pricing card-->
          <div class="grey-text text-center pricing-card d-flex align-items-center py-3 px-3 rounded">
      
            <!--Content-->
            <mdb-card-body>
              <div class="row d-flex justify-content-center my-4">
                <h2>Custom Bite Splints</h2>
              </div>
            </mdb-card-body>
      
          </div>
          <!--Pricing card-->
      
        </mdb-card>
      
      </div>
      <!--Fourth column-->
  
      <!--Fith column-->
      <div class="col-lg-2 col-md-4 mb-4">
      
        <!-- Card -->
        <mdb-card>
        
          <!--Pricing card-->
          <div class="grey-text text-center pricing-card d-flex align-items-center py-3 px-3 rounded">
        
            <!--Content-->
            <mdb-card-body>
              <div class="row d-flex justify-content-center my-4">
                <h2>Temporary Pontics</h2>
              </div>
            </mdb-card-body>
        
          </div>
          <!--Pricing card-->
        
        </mdb-card>
          
      </div>
      <!--Fith column-->
      
  </div>
  <!--Grid row-->
    
  <!--Grid row-->
  <div class="row d-flex justify-content-center">
    <button mdbBtn type="button" color="white" rounded="true" outline="true" mdbWavesEffect (click)="openModal()">Become a Partner</button>  
  </div>
  <!--Grid row-->
  
</section>
<!--Section: Banner-->
  
  <!-- Temporary -->
  <section class="team-section text-center py-5 my-5">
  
      <!-- Section heading -->
      <h1 class="BText h2-responsive font-weight-bold mx-auto">Temporary</h1>
      <h2 class="h3-responsive grey-text mt-5">Technology Description / Secondary Description Line</h2>
          
      <!-- Grid row -->
      <div class="row mt-5 justify-content-center">
            
        <!-- Grid row -->
        <div class="row mt-5 justify-content-center">
          <video class="video-fluid vSize" autoplay>
            <source src="assets/surgicalGuides.mp4" type="video/mp4" />
          </video>
        </div>
        <!-- Grid row -->
        
      </div>
      <!-- Grid row -->
          
  </section>
  <!-- Temporary -->
  
  <!-- Abutments & Crowns -->
  <section class="team-section text-center py-5 my-5">
  
    <!-- Section heading -->
    <h1 class="BText h1-responsive font-weight-bold mx-auto">Abutments</h1>
    <h1 class="BText h1-responsive  mx-auto">& Crowns</h1>
        
    <!-- Grid row -->
    <div class="row mt-5 justify-content-center">
          
      <!-- Grid row -->
      <div class="row mt-5 justify-content-center">
        <video class="video-fluid vSize" autoplay>
          <source src="assets/abutmentsCrowns.mp4" type="video/mp4" />
        </video>
      </div>
    <!-- Grid row -->
      
    </div>
    <!-- Grid row -->
        
  </section>
  <!-- Abutments & Crowns -->
  
  <!-- All on 4 -->
  <section class="team-section text-center py-5 my-5">
  
    <!-- Section heading -->
    <h1 class="BText h1-responsive font-weight-bold mx-auto">All-on-4</h1>
    <h2 class="h1-responsive grey-text mt-5">Coming Soon</h2>
    <div class="p-2  align-self-center">
      <button type="button" mdbBtn color="info" size="lg" rounded="true" data-toggle="modal" data-target="#subscribeData"
      (click)="openModal()" mdbWavesEffect>Notify Me</button>
    </div>
    <h3 class="h5-responsive mx-4 mt-5">We will soon be able to provide full implants to our line of service. Click notify to be the first to know when it is abailable</h3>

    <!-- Grid row -->
    <div class="row mt-5 justify-content-center">
          
      <!-- Grid row -->
      <div class="row mt-5 justify-content-center">
      <video class="video-fluid vSize" autoplay>
        <source src="assets/implants.mp4" type="video/mp4" />
      </video>

    </div>
    <!-- Grid row -->
      
    </div>
    <!-- Grid row -->
        
  </section>
  <!-- All on 4 -->
  
