/* You can add global styles to this file, and also import other style files */


header{
    font-family: 'Comfortaa', cursive !important;
}
body{
    font-family: 'Comfortaa', cursive !important;
}
footer{
    font-family: 'Comfortaa', cursive !important;
}